.current-time-weather {
  background-color: rgba($lavender-blush, 0.8);
  padding: 0;
  padding-bottom: 16px;
  border-radius: 20px;
  font-weight: 500;
  overflow: hidden;
  margin-bottom: 20px;
}

.current-time-weather__temp {
  color: $russian-green;
  font-size: 60px;
  padding: 10px 20px 10px 20px;
}

.current-time-weather__item {
  font-size: 22px;
  padding: 4px 20px 4px 20px;
}

.current-time-weather__hourly-title,
.current-time-weather .current-time-weather__header {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  background-color: rgba($russian-green, 0.9);
  display: flex;
  justify-content: space-between;
}

.current-time-weather__hourly-title {
  margin-top: 30px;
}

.current-time-weather__hourly {
  display: none;
}

.current-time-weather__wrapper {
  position: relative;
  margin-bottom: 80px;
}

@media (min-width: $tablet-width) {
  .current-time-weather__hourly {
    display: block;
  }

  .current-time-weather {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .current-time-weather {
    width: 400px;
    font-size: 22px;
  }
}
